<div>
    <p>first works!</p>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <ul>
                        <li>name: {{item.name}}</li>
                        <li>description: {{item.description}}</li>
                        <li>priccategory: {{item.price}}</li>
                        <li>category: {{getCategory(item.category)}}</li>
                        <li>isAvailable: {{item.isAvailable}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div>Items cout: {{items.length}}</div>
                    <div *ngFor="let it of items; index as i">
                        <ul>
                            <li>name: {{it.name}}</li>
                            <li>description: {{it.description}}</li>
                            <li>priccategory: {{it.price}}</li>
                            <li>category: {{getCategory(it.category)}}</li>
                            <li>isAvailable: {{it.isAvailable}}</li>
                        </ul>
                        <hr *ngIf="i !== items.length-1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>