<div class="panel panel-primary">
    <div class="panel-heading">
        Order
    </div>

    <br>Dirty: {{ orderForm.dirty }}
    <br>Touched: {{ orderForm.touched }}
    <br>Valid: {{ orderForm.valid }}
    <br>Value: {{ orderForm.value | json }}
    <br>Form Status: {{orderForm.status }}


    <div class="panel-body">
        <form class="form-horizontal" (ngSubmit)="onSave()" [formGroup]="orderForm">
            <fieldset>
                <div class="form-group" [ngClass]="{'has-error': validationMessages.firstName}">
                    <label class="col-md-2 control-label" for="firstNameId">First Name</label>
                    <div class="col-md-8">
                        <input class="form-control" id="firstNameId" type="text" placeholder="First Name (required)"
                            formControlName="firstName" />
                        <span class="help-block" *ngIf="validationMessages.firstName">
                            {{validationMessages.firstName}}
                        </span>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{'has-error': validationMessages.lastName}">
                    <label class="col-md-2 control-label" for="lastNameId">Last Name</label>
                    <div class="col-md-8">
                        <input class="form-control" id="lastNameId" type="text" placeholder="Last Name (required)"
                            formControlName="lastName" />
                        <span class="help-block" *ngIf="validationMessages.lastName">
                            {{validationMessages.lastName}}
                        </span>
                    </div>
                </div>

                <div class="form-group" [ngClass]="validationMessages.email">
                    <label class="col-md-2 control-label" for="emailId">Email</label>

                    <div class="col-md-8">
                        <input class="form-control" id="emailId" type="email" placeholder="Email (required)"
                            appCustomEmailValidator formControlName="email" />
                        <span class="help-block" *ngIf="validationMessages.email">
                            {{validationMessages.email}}
                        </span>

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-1 col-md-8 checkbox">
                        <label>
                            <input id="sendProductsId" type="checkbox" formControlName="sendProducts">
                            Send me your products
                        </label>
                    </div>
                </div>

                <div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="cityId">Country, City, Zip Code</label>

                        <div class="col-md-3">
                            <select class="form-control" id="countryId">
                                <option value="">Select a Country...</option>
                                <option *ngFor="let country of countries" value="{{country}}">
                                    {{country}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-3">
                            <input type="text" class="form-control" id="cityId" placeholder="City"
                                formControlName="city">
                        </div>
                        <div class="col-md-2">
                            <input type="number" class="form-control" id="zipId" placeholder="Zip Code"
                                formControlName="zipCode">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label" for="streetId">Street Address</label>
                        <div class="col-md-8">
                            <input type="text" class="form-control" id="streetId" placeholder="Street address"
                                formControlName="address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">Phone number(s):</label>
                        <div formArrayName="phones">
                            <div *ngFor="let item of orderForm.get('phones').controls; let i = index"
                                [formGroupName]="i">
                                <div class="form-group">
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" id="{{'phone' + i}}"
                                            placeholder="phone number" formControlName="phone">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 col-md-offset-2">
                            <span>
                                <button class="btn btn-primary" type="button" (click)="onAddPhone()"> 
                                    +
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary" type="submit" [disabled]="!orderForm.valid">
                                Save
                            </button>
                        </span>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>